.menu_item {
  width: 100%;
  border-radius: 0;
}

.menu_item:hover .font_icon_arrow_right {
  color: #15bcaf;
  transition: 0.5s;
}

.menu_item {
  display: inline-block;
  border-radius: 5px;
  font-size: 20px;
  padding: 12px;
  font-weight: 400;
  cursor: pointer;
  line-height: 24px;
  font-family: "Harmonia Sans Pro Cyr Regular";
  position: relative;
}

.menu_item .link a {
  color: #fff;
  text-decoration: none;
}

.menu_item:hover .link a {
  color: #15bcaf;
  transition: 0.5s;
}

.menu_item:hover .link {
  color: #15bcaf;
  transition: 0.5s;
}

.font_icon_arrow_right {
  margin-left: 4px;
  font-size: 15px;
}
