.content {
  background-color: #13157f;
}
.fontWhite {
  color: #fff;
  font-weight: 400;
  font-size: 80px;
  font-family: "Harmonia Sans Pro Cyr Bold";
  line-height: 82px;
}

.fontGreen {
  color: #15bcaf;
  font-weight: 400;
  font-size: 80px;
  line-height: 82px;
  font-family: "Harmonia Sans Pro Cyr Bold";
}

.context {
  margin-bottom: 20px;
}

.description {
  font-family: "Avenir Next Medium";
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 50px;
}

.select_btn {
  color: #ffffff;
  font-family: "Harmonia Sans Pro Cyr Semi Bold";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.font_icon {
  color: #ffffff;
  margin-top: 7px;
}

.wrap_content {
  width: 100%;
  padding-top: 100px;
  width: 1248px;
  padding-left: 235px;
  max-width: 100%;
}

.line {
  margin-left: -287px;
  margin-top: 0px;
}

.wrap_row {
  display: flex;
  flex-wrap: wrap;
}

.banner {
  /* top: 300px !important;
  z-index: 90; */
}
