.header {
  box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.05);
  background-color: #13157f;
}

.logo {
  height: 60px;
  width: 120px;
  min-height: auto;
  margin: 0;
  cursor: pointer;
  object-fit: contain;
}
.menu {
  list-style: none;
  transition: 0s;
}

.hidden {
  display: block;
}

.menu .menu_item {
  display: inline-block;
  border-radius: 5px;
  font-size: 20px;
  padding: 12px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  line-height: 24px;
  font-family: "Harmonia Sans Pro Cyr Regular";
}

/* .menu,
.menu .menu_item :hover {
  color: #575bda;
} */

.btn_menu {
  display: none;
  background: transparent;
  border: none;
  color: #fff;
}

.font_icon {
  font-size: 12px;
}

/* .dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: #13157f;
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.menu li:hover .dropdown-content {
  display: block;
}

.dropdown_content .dropdown_item {
  color: black;
  padding: 10px 4px;
  text-decoration: none;
  display: block;
}

.dropdown_item:not(:last-child) {
  border-bottom: 1px solid #00000020;
}

.dropdown-content .dropdown_item:hover {
  background-color: #fff;
  color: #13157f;
}

.dropdown:hover .dropdown_content {
  display: block;
} */

@media (max-width: 375px) {
  .menu {
    display: none;
  }
  .btn_menu {
    display: block;
  }
  .hidden {
    display: none;
  }
}
@media (max-width: 1200px) {
  .btn_menu {
    display: block;
  }
  .menu {
    display: none;
  }
  .hidden {
    display: none;
  }
}
/* @media (max-width: 576px) {
  .show_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #50f2ba;
    margin: 0;
    transition: 0.5s;
    top: 80px;
    width: 100vw;
    height: 30vh;
  }
} */
