.header {
  box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.05);
  background-color: #13157f;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
  max-width: unset;
  width: 120px;
  min-height: auto;
  margin: 0;
  cursor: pointer;
  object-fit: contain;
}

.wrap_btn_checkbox {
  position: relative;
  display: none;
}

.btn_checkbox {
  width: 30px;
  height: 30px;
  display: block;
  top: -10px;
  left: -10px;
  position: absolute;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 3; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

.menu {
  list-style: none;
  transition: 0;
}

.hidden {
  display: block;
}

.menu .menu_item {
  display: inline-block;
  border-radius: 5px;
  font-size: 20px;
  padding: 12px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  line-height: 24px;
  font-family: "Harmonia Sans Pro Cyr Regular";
  position: relative;
}

.menu_item:hover {
  color: #575bda;
}

.sub_menu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background: #13157f;
  z-index: 11;
}

.menu_item:hover .sub_menu {
  display: block;
}

.sub_menu_item {
  color: #ffffff;
}

.btn_menu {
  display: none;
  position: relative;
  z-index: 2;
}

.btn_menu span {
  display: block;
  background: #ffffff;
  width: 24px;
  height: 2px;
  margin-bottom: 6px;
  border-radius: 3px;
  transition: 0.5s;
  z-index: 2;
}

.btn_menu span {
  transform-origin: 0%;
}

.btn_checkbox:checked ~ .btn_menu span:nth-last-child(3) {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.btn_checkbox:checked + .btn_menu span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.btn_checkbox:checked + .btn_menu span:nth-last-child(1) {
  transform: rotate(-45deg) translate(0, -1px);
}

.font_icon_down {
  font-size: 12px;
  padding-left: 8px;
}

.font_icon_menu {
  font-size: 30px;
}
.btn_start_lg {
  display: none;
  margin-left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1200px) {
  .btn_menu {
    display: block;
  }
  .wrap_btn_checkbox {
    position: relative;
    display: block;
  }
  .menu {
    position: absolute;
    width: 0;
    right: 0;
    background: #13157f;
    top: 80px;
    margin-top: 0;
    overflow: hidden;
    flex-direction: column;
    padding: 0;
    padding-top: 80px;
    margin-left: 32px;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    height: 0;
  }
  .hidden {
    display: none;
  }
  .header .showMenu {
    position: absolute;
    right: 0;
    width: 100%;
    height: calc(100vh - 80px);
  }
  .btn_header {
    margin-top: 40px;
  }
  .btn_start_xl {
    display: none;
  }
  .btn_start_lg {
    display: block;
    position: absolute;
    bottom: 18px;
  }
}

@media (max-width: 375px) {
  .btn_start_lg {
    width: 100%;
    padding: 0 18px;
  }
}
