.footer {
  background-color: #13157f;
}

.footer_content {
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-between;
  margin-top: 24px;
}

.list_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.list {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.9;
  padding: 0;
}

.list_item {
  line-height: 18px;
  font-size: 16px;
  padding: 8px 0;
}

.font {
  color: #ffffff;
  opacity: 0.5 !important;
  font-size: 14px !important;
  letter-spacing: 0.5px;
  line-height: 17px !important;
  font-weight: 600;
  font-family: "Harmonia Sans Pro Cyr Semi Bold";
}

.logo {
  width: 100px;
  object-fit: contain;
  height: 40px;
}

.background {
  width: 100%;
  aspect-ratio: 16 / 5;
}

.font_copyright {
  font-family: "Harmonia Sans Pro Cyr Semi Bold";
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  color: #5b5d9b;
  display: flex;
  align-items: center;
}

.font_copyright_text {
  display: flex;
  align-items: center;
}

.copyright {
  border-top: 2px solid #000273;
  margin-top: 70px;
  padding: 0 86px;
}

.font_icon {
  padding: 8px;
}

.background_image {
  background-size: cover;
  background-image: url("../../../public/banner\ 4_3.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.fontWhite {
  color: #fff;
  font-weight: 400;
  font-size: 50px;
  line-height: 56px;
  font-family: "Harmonia Sans Pro Cyr Bold";
}

.fontGreen {
  color: #15bcaf;
  font-weight: 400;
  font-size: 50px;
  line-height: 56px;
  font-family: "Harmonia Sans Pro Cyr Bold";
}

.title {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 54px;
  line-height: 62px;
  color: #ffff;
}

.title span {
  color: #15bcaf;
  display: inline-block !important;
}

.try_profession {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 20px;
}

.button_footer {
  margin: 0 0 0 150px;
}

.wrap_footer {
  padding-left: 86px;
  padding-right: 86px;
  padding-top: 70px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap_list {
  max-width: 100%;
}

.wrap_content_footer {
  padding-top: 153px;
  padding-left: 235px;
  max-width: 50%;
  padding-bottom: 267px;
  position: relative;
}

.btn {
  width: 200px;
  margin-top: 64px;
}

@media (max-width: 1200px) {
  .fontWhite {
    font-size: 45px;
    line-height: 50px;
  }

  .fontGreen {
    font-size: 45px;
    line-height: 50px;
  }
  .wrap_content_footer {
    padding-left: calc(10px + 10%);
    padding-bottom: calc(10px + 5%);
  }
}

@media (max-width: 992px) {
  .fontWhite {
    font-weight: 350;
    font-size: 40px;
    line-height: 45px;
  }

  .fontGreen {
    font-weight: 350;
    font-size: 40px;
    line-height: 45px;
  }
  .footer_content {
    width: 100%;
    margin-top: 40px;
  }

  .wrap_footer {
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 55px;
  }
}

@media (max-width: 672px) {
  .copyright {
    padding: 0 32px;
  }
  .font_copyright_text {
    display: none;
  }
}

@media (max-width: 375px) {
  .logo {
    width: 120px !important;
    height: 35px !important;
  }

  .wrap_footer {
    padding-left: 33px;
    padding-right: 33px;
  }

  .wrap_list {
    width: 144px;
  }

  .font {
    color: #ffffff;
    opacity: 0.5 !important;
    font-size: 13px !important;
    letter-spacing: 0.5px;
    line-height: 15.6px !important;
    font-weight: 600;
    font-family: "Harmonia Sans Pro Cyr Semi Bold";
  }

  .background_image {
    background-image: url("../../../public/banner\ 4_4.png");
    background-position: bottom;
    background-size: unset;
  }

  .wrap_content_footer {
    padding-left: 8px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 192px;
  }

  .fontWhite {
    font-size: 28px;
    line-height: 36px;
  }

  .fontGreen {
    font-size: 28px;
    line-height: 36px;
  }

  .background_linear {
    position: absolute;
    width: 100%;
    height: 58px;
    left: 0px;
    bottom: 285px;
    z-index: 2;
    background: linear-gradient(
      0deg,
      rgba(33, 41, 136, 0.0001) 30.6%,
      #13157f 66.3%
    );
  }
}
