.wrapper {
  background-color: #13157f;
}

.section1 {
  background-color: #fff;
}

.content_title {
  padding-top: 66px;
  padding-left: 232px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #ffffff;
  padding-bottom: 15px;
}

.container_blog {
  display: flex;
  align-items: stretch;
  margin: 0 220px;
  margin-bottom: 110px;
  overflow: hidden;
}

.container_blog_section {
  margin-top: 18px;
  padding-bottom: 60px;
}

.wrap_img_blog {
  position: relative;
  width: 63%;
  flex: 1;
}

.image_blog_mobile{
  cursor: pointer;
  position: relative;
  min-height: 100%;
}

.image_blog::after, .image_blog_mobile::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-image: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 57.22%
  );
  z-index: 4;
  border-radius: 15px;
}

.img_blog {
  z-index: 3;
  object-fit: cover;
  border-radius: 15px;
}

.block_casestudy {
  width: 100%;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  display: none;
}

.wrap_content_img {
  bottom: 62px;
  right: 25%;
  margin-left: 40px;
  position: absolute;
  z-index: 5;
}

.date {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 15px;
}

.des {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.container_block_casestudy {
  padding: 36px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title_block_casestudy {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

.line_block_casestudy {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}

.end_block_casestudy {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #15bcaf;
}

.row {
  margin-top: 15px;
  display: flex;
  align-items: stretch;
}

.image_row {
  width: 136px;
  height: 100px;
}

.img_row {
  object-fit: cover;
  border-radius: 4px;
}

.content_row {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 15px;
}

.content_row span {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.2);
}

.block_post_title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin: 10px 0;
  cursor: pointer;
}

.block_post_title a {
  color: #000000;
  text-decoration: none;
}

.block_post_date {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #808080;
  cursor: pointer;
}

.container_post {
  margin-top: 100px !important;
}

.rectangle {
  width: 1px;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 30px;
}

.wrap_img_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 445px;
}

.wrap_img_column .wrap_img_blog {
  width: 100%;
}

.wrap_img_column .wrap_content_img {
  bottom: 30px;
  margin-left: 30px;
  right: 9%;
}

.wrap_img_column .des {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.wrap_tabs {
  padding-top: 56px;
  margin: 0 233px;
}

.tab_line {
  background: #e6e6e6;
  height: 1px;
  width: 100%;
}

.swiper {
  display: none;
  overflow: visible;
}

.image_blog_mobile {
  display: none;
}

.swiper_slide_wrap a{
  text-decoration: none;
  color: unset;
}

@media (max-width: 1700px) {
  .container_blog {
    margin: 0 80px;
    margin-bottom: 110px;
  }

  .content_title{
    padding-left: 89px;
  }
}

@media (max-width: 1550px) {
  .wrap_img_blog {
    width: 45%;
  }
  .wrap_img_column {
    width: 45%;
  }
  .add_pc{
    display: none;
  }
  .add_mobile{
    display:block;
  }
  .wrap_tabs{
    margin: 0 80px;
  }
}

@media (max-width: 1200px) {
  .container_blog {
    margin: 0 60px;
    padding-bottom: 80px;
  }

  .content_title {
    padding-bottom: 50px;
  }

  .wrap_content_img {
    bottom: 30px;
    right: 20%;
    margin-left: 35px;
    margin-bottom: 30px;
    position: absolute;
    z-index: 5;
  }
}

@media (max-width: 992px) {
  .img_blog {
    width: 600px;
    height: 300px;
  }

  .swiper {
    display: block;
  }

  .container_blog {
    margin: 0 50px;
    padding-bottom: 100px;
    display: unset;
  }

  .content_title {
    padding-top: 40px;
    padding-left: 55px;
    padding-bottom: 50px;
  }
  .rectangle {
    display: none;
  }
  .wrap_img_column .wrap_img_blog {
    display: none;
  }
  .add {
    display: none;
  }
  .wrap_img_blog {
    width: 100%;
  }

  .wrap_content_img{
    bottom: 38px;
    margin: 0 25px;
    right: 0%;
    display: flex;
    flex-direction: column;
  }
  .des {
    font-size: 20px;
    line-height: 28px;
  }
  .date{
    order: 1;
  }
}

@media (max-width: 672px) {
  .img_blog {
    width: 500px;
    height: 200px;
  }

  .container_blog {
    margin: 0 20px;
  }

  .content_title {
    padding-bottom: 41px;
    padding-left: 30px;
    font-size: 30px;
    line-height: 36px;
  }

  .block_casestudy {
    display: block;
    padding: 0;
    /* padding: 0 20px; */
  }

  .image_blog_mobile {
    display: block;
  }
  .image_blog {
    display: none;
  }

  .wrap_tabs{
    margin: 0 20px;
  }
}

@media (max-width: 375px) {
  .img_blog {
    width: 150px;
    height: 100px;
  }

  .wrap_img_column {
    display: none;
  }
}
